apiVersion: v1
kind: Service
metadata:
  name: flask-service
spec:
  type: NodePort    # <-- changed from LoadBalancer
  selector:
    app: flask
  ports:
    - port: 80
      targetPort: 5000
      nodePort: 30001   # <-- must be between 30000-32767
