name: Manual CD - Deploy to Kubernetes

on:
  workflow_dispatch:   # Manual trigger

jobs:
  deploy:
    runs-on: self-hosted     # Codespace runner

    steps:
    - uses: actions/checkout@v3

    - name: Update image in K8s manifest
      run: |
        sed -i "s|image:.*|image: ${{ secrets.DOCKERHUB_USERNAME }}/flask-app:latest|g" k8s/deployment.yaml

    - name: Deploy to Kubernetes
      run: |
        kubectl apply -f k8s/deployment.yaml
        kubectl apply -f k8s/service.yaml
        kubectl rollout restart deployment/flask-deploy

    - name: Check Deployment
      run: |
        kubectl get pods -o wide
        kubectl get svc -o wide
