name: Deploy Docker Image to Railway

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Pull Docker Image from Docker Hub
        run: docker pull ${{ secrets.DOCKERHUB_USERNAME }}/flask-app:latest

      - name: Set up Railway CLI
        run: |
          curl -sSL https://railway.app/cli | sh
          export PATH="$HOME/.railway/bin:$PATH"

      - name: Railway Login
        run: railway login --token ${{ secrets.RAILWAY_API_KEY }}

      - name: Deploy Docker Image to Railway
        run: railway up --docker --image ${{ secrets.DOCKERHUB_USERNAME }}/flask-app:latest

      - name: Get URL from Railway
        run: |
          URL=$(railway link)
          echo "App is live at $URL"
